html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.guild-box {
  width: 250px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 200ms;
}
.guild-box:hover {
  background-color: #30475e;
  color: white;
  cursor: pointer;
  transition: 200ms;
  width: 300px;
}

.image-rounded {
  border-radius: 50%;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.user-avatar {
  border-radius: 50px;
}

.container {
  font-family: arial;
  font-size: 24px;
  width: 350px;
  height: 200px;
}

.child {
  width: 50px;
  height: 50px;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}